@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  width: 60vw;
  height: auto;
  margin: 0 auto;
  padding: 10px 20px;
  background: rgba(244, 247, 248, 0.5); /* Cambio del color de fondo con transparencia */
  border-radius: 15px;
  color: #222222;
}

.h1-form {
  margin: 0 0 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  padding: 10px;
}

.input-container,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0 0 10px 0;
  outline: 0;
  padding: 15px;
  width: 95%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
  border-radius: 15px;
}

select {
  padding: 6px;    
  border-radius: 15px;  
}

.error-text {
  color: #fd422e;
  font-size: 20px;
  font-weight: bold;
}

.error {
  border: solid #fd422e 2px;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.error {
  border: solid #fd422e 2px;
  animation: shake 0.5s ease;
}

.teams-container-create {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.team-span {
  font-size: 16px;
  background: #e8eeef;
  color: #000000;
  font-weight: bold;
  padding: 12px;
  margin: 5px;
  border-radius: 15px;
}

.delete-btn {
  background-color: #fd422e;
  color: #ffffff;
  border: none;
  padding: 10px;
  margin:5px;

  border-radius: 50%;
  cursor: pointer;
  font-size: .6rem;
}

.delete-btn:hover {
  background-color: #ff635d;
}

.submit {
  margin: 0 0 30px 0;
  padding: 5px;    
  width: 100%;  
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  background: none; /* Quitar el fondo del botón */
  border: none; /* Quitar el borde del botón */
  box-shadow: none; /* Quitar la sombra del botón */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  outline: none; /* Quitar el contorno al enfocar el botón */
}

.closeButton {    
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0; 
  margin: 5px;  
}

  