/* Filter.css */

.filter-container {
  width: 50%;
  flex: 1;  
  text-align: right;
}

.filter-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
}

.filter-imput {
  margin-top: 10px;
}

.filter-imput label {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .filter-container {
    flex: 100%;
  }
}
